/* .App{
  background-color: rgb(240, 239, 239);
} */

.appContainer{
  width: 80%;
  margin: auto;
}

.container{
  display: flex;
}

@media (max-width: 1024px){
  .App{
    max-height: 100vh;
  }
}

@media (max-width: 768px){
  .App{
    max-height: 100vh;
  }
}